.game-background {
  position: relative;
  background: black;
  width: 410px;
  height: 410px;
  color: lightgrey;
}

.vertical-line {
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.5;
  height: 410px;
  width: 15px;
}

.horizontal-line {
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.5;
  width: 410px;
  height: 15px;
}

.white-circle { 
  position: absolute;
  top: 0;
  opacity: 0.7;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

@keyframes pulse {
  
  0% {
    opacity: 0.5;
  }
    
  50% {
    opacity: 1.0;
    transform: scale(1.0, 1.0);
  }
    
  100% {
    opacity: 0.5;
  }
}

.black-circle {
  position: relative;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  animation: pulse 0.5s linear infinite;
}

